<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToVue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script type="text/javascript" src="./js/app.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">

        <header class="container">
            <h1 class="text-center my-5 fw-bold">La tua Todolist</h1>
          </header>

          <main id="root">
            <section class="container">
        
              <div class="row justify-content-center">
                <div class="col-6">
        
            <!-- Input -->
            <div class="input-group mb-5">
            <!-- Input Text -->
            <input class="form-control" placeholder="Cose da fare..." v-model="newTaskText" v-on:keyup.enter="onAddClick">
            <!-- Btn Aggiungi -->
            <button class="btn btn-outline-primary" type="button" @click="onAddClick">Aggiungi</button>
          </div>

           <!-- List  -->
           <div class="list-group">
            <!-- Elemento -->
            <div class="list-group-item d-flex align-items-center py-3" v-for="element, i in tasksList">
              <!-- Test -->
              <label class="flex-fill">{{ i }} - {{ element.text }}</label>
              <!-- Btn Cancella -->
              <button type="button" class="btn-close" aria-label="Close" @click="onDeleteClick(i)"></button>
            </div>
          </div>

        </div>
      </div>
    </section>

    </div>


</body>
</html>